@model SFBlog.Models.PostEditViewModel

@{
    ViewData["Title"] = "Редактирование статьи";
}

<h4>Редактирование статьи</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="EditPost">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Id" class="form-control" type="hidden"/>
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
            @for (int i = 0; i < Model.CheckTags.Count(); i++)
            {
                <input asp-for="CheckTags[i].Id" type="hidden"/>
                <input asp-for="CheckTags[i].Checked" type="checkbox"/>
                <label asp-for="CheckTags[i].Designation">@Model.CheckTags[i].Designation</label>
            }
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <textarea asp-for="Content" class="form-control"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="PostList">Выйти без сохранения</a>
</div>

